In [1]:
import pandas as pd
import geopandas as gpd

In [9]:
# read the geopackage
gdf = gpd.read_file("SIRGAS_GPKG_estacaometro_com_inaug.gpkg")
gdf

,primaryindex,emt_situac,emt_linha,emt_empres,emt_nome,data_inaug,geometry
0,1,OPERANDO,AZUL,METRO,SÉ,17-02-1978,POINT (333310.17304 7394533.15033)
1,2,OPERANDO,VERMELHA,METRO,CORINTHIANS-ITAQUERA,10-01-1988,POINT (349839.37993 7395675.04694)
2,3,OPERANDO,VERMELHA,METRO,ARTUR ALVIM,17-09-1988,POINT (348457.59219 7395884.16471)
3,4,OPERANDO,VERMELHA,METRO,PATRIARCA,17-09-1988,POINT (346732.71182 7396874.61716)
4,5,OPERANDO,VERMELHA,METRO,GUILHERMINA-ESPERANÇA,27-08-1988,POINT (345181.96485 7397070.92108)
...,...,...,...,...,...,...,...
88,89,OPERANDO,LILAS,METRO,CAMPO BELO,04-08-2019,POINT (328372.66040 7386947.60525)
89,90,OPERANDO,PRATA,METRO,SÃO MATEUS,16-12-2019,POINT (349346.88712 7387941.95971)
90,91,OPERANDO,PRATA,METRO,FAZENDA DA JUTA,16-12-2019,POINT (348245.48257 7387974.76527)
91,92,OPERANDO,PRATA,METRO,SAPOPEMBA,16-12-2019,POINT (346825.07652 7387620.51451)
92,93,OPERANDO,PRATA,METRO,JARDIM PLANALTO,26-08-2019,POINT (346242.50994 7388429.73227)

In [ ]:
# the "date" column is called "data_inaug".
# we have a list of years:
years = list(range(1995, 2020))
years

In [10]:
# I want to filter the gdf to create a new gdf to each date. Only the rows where the date is lower than the year must be kept
dictionary = {}
# Iterate over each year
for year in years:
    # Convert 'data_inaug' to datetime, considering that the format is day-month-year
    if gdf['data_inaug'].dtype == 'object':
        gdf['data_inaug'] = pd.to_datetime(gdf['data_inaug'], dayfirst=True)

    # Filter the GeoDataFrame to only include rows where the year of 'data_inaug' is less than the current year
    gdf_filtered = gdf[gdf['data_inaug'].dt.year < year]
    dictionary[year] = gdf_filtered

In [13]:
import os

# Define the folder where you want to save the files
output_folder = 'output_geopackages'

# Create the folder if it does not exist
os.makedirs(output_folder, exist_ok=True)

# Iterate over the dictionary and save each GeoDataFrame as a separate GeoPackage
for year, gdf_filtered in dictionary.items():
    # Define the file name based on the year
    file_name = f"eatacoes_metro_ate_{year}.gpkg"

    # Define the full path for the file
    file_path = os.path.join(output_folder, file_name)

    # Save the GeoDataFrame as a GeoPackage
    gdf_filtered.to_file(file_path, driver='GPKG')

print("All GeoPackage files have been saved.")

All GeoPackage files have been saved.